{% extends "base.html" %}

{% block title %}Register - Project Raccoon{% endblock %}

{% block content %}
  <h2>Register</h2>
  {% if messages %}
    <ul class="messages-list" style="list-style-type: none; padding: 0;">
        {% for message in messages %}
            <li class="message {{ message.tags }}">{{ message }}</li>
        {% endfor %}
    </ul>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }} {# Renders the form fields as paragraphs #}
    <button type="submit">Register</button>
  </form>
  <p><a href="{% url 'login' %}">Already have an account? Login</a></p>
{% endblock %}